p.notice {
  text-align: center;
  color: #fff;
	text-align: center;
	line-height: 110%;
	text-shadow: 0.05em 0.05em 0.1em #000;
	text-shadow: 0 0.025em 0.05em rgba(0,0,0,0.75), 0 0.05em 0.1em rgba(0,0,0,0.5);
}

body {
	background: no-repeat fixed url('/gate2.jpg') center / cover; /* from Unsplash */
}
.hero {
	width:100%;
	min-height:55vh;
	margin-top:50px;

	/* This is what centers it */
	display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
	color: #fff;
	font-family: "Rethink Sans", sans-serif;
	font-weight: 900;
	font-size: 7vmin;
	text-align: center;
	line-height: 110%;
	text-shadow: 0.05em 0.05em 0.1em #000;
	text-shadow: 0 0.025em 0.05em rgba(0,0,0,0.75), 0 0.05em 0.1em rgba(0,0,0,0.5);
}